@charset "UTF-8";

#header {
  height: 70px;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid rgba($color: #bbbaba, $alpha: 0.1);
  .header-main-logo {
    img {
      width: 120px;
    }
  }
  .header-icon-box {
    float: right;
    .header-icon {
      width: 33px;
      height: 33px;
    }
  }
}
