.header {
  width: 100%;
  height: 70px;
  padding: 10px 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_left {
  display: inline-block;
  width: 20%;
  .header_logo {
    width: 150px;
    height: 50px;
  }
}

.header_center {
  display: flex;
  width: 50%;
  //height: 50px;
  .search_bar {
    width: 100%;
    margin-right: 5px;
  }
}

.header_right {
  display: inline-block;
  text-align: right;

  .header_login {
    width: 148px;
    text-align: left;
    display: inline-block;
    position: relative;
    top: 2px;

    .right_menu {
      padding-left: 40px;

      > span {
        color: #333333;
        font-size: 14px;
        line-height: 2.46px;
        letter-spacing: -0.05em;
        padding-right: 11px;
        cursor: pointer;

        &:last-child {
          padding-right: 0;
          padding-left: 11px;

          &::after {
            display: none;
          }
        }

        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 52%;
          right: 0;
          transform: translateY(-50%);
          width: 1px;
          height: 11px;
          background-color: #c1c1c1;
        }
      }

    }
  }
}
