#main-wrapper {
  min-height: 100%;
  width: 100%;
  height: auto;
}

#default-wrap {
  min-height: calc(100vh - 229px);
  padding-top: 120px;
}

.home {
  width: 100%;
  //height: 1279px;
  min-height: 300px;
  //height: calc(100vh - 150px);
  height: 100vh;
}

#main_fullbg {
  background-image: url("/./assets/image/main_bg_02.jpg");
  //background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #383943;
  min-height: 900px;


  .main_fullbg-wrap {
    //width: 1200px;
    margin: 0 auto;
    height: 100%;

    .main-search {
      width: 800px;
      position: absolute;
      left: 50%;
      margin-left: -400px;
      top: 45%;
      z-index: 11;
      margin-top: -240px;
      text-align: center;

      h2 {
        color: #FFFFFF;
        font-family: S-CoreDream !important;
        font-size: 1.65rem;
        font-weight: 400;
        padding: 0 0 20px 100px;
        margin: 0;
        text-align: center;
      }

      .area_select {
        display: inline-block;
        height: 60px;
        border-radius: 60px;
        overflow: hidden;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
        //box-shadow: 0px 0px 30px rgb(0 0 0 / 40%);
        width: 115px;
        font-size: 1rem;
        line-height: 60px;
        margin-right: 10px;
        font-weight: 700;
        background-color: #8859ff;
        color: #fff;
        cursor: pointer;
        .fa-angle-down:before {
          content: "\f107";
        }
      }

      .search_form {
        display: inline-block;

        /*      .el-input__inner:focus {
                box-shadow: 0px 30px 30px 0px rgba(0, 62, 255, 0.52);
              }*/

        .search_input {
          width: 650px;
          background: #fff;
          height: 60px;
          border-radius: 60px;
          overflow: hidden;
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
          position: relative;
          text-align: left !important;
          &:focus {
            box-shadow: rgb(136, 89, 255) 0px 0px 60px;
          }
          input {
            padding: 0 70px 0 14px;
            height: 60px;
            border: none !important;
          }
        }
        .search_btn {
          border-radius: 0 60px 60px 0;
          height: 60px;
          background-color: #cccccc;
          border-color: #cccccc;
          position: absolute;
          right: 0;
          span > svg {
            height: 25px;
          }
        }

      }

    }
  }


  .mainwrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.45) url('/./assets/image/dot2.png');
      //background-image: url('./assets/image/dot2.png');
      z-index: -1;
    }
  }

  .main-chart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

#content-wrap {
  height: calc(100vh - 229px);
    background-color: #f5f5f5;
}

.service_message {
  font-size: 24px;
  font-weight: 600;
  color: #222222;
  text-align: center;
  position: absolute;
  bottom: -40%;
  left: 50%;
}
