@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean);
//@import url(https://fonts.googleapis.com/css?family=Noto+Sans+CJK+KR:100,300,400,500,700,900&subset=korean);
//@import url(https://fonts.googleapis.com/css?family=Noto+Sans+CJK+KR:100,300,400,500,700,900&subset=korean);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* titillium-web-regular - latin */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* using
font-family: 'Titillium Web', sans-serif;
font-weight: 200~900
*/


/*
::: 선거 테마 컬러코드 :::
메인 폰트 컬러 #191919
진한 회색 폰트 #707070
메인 갈색 컬러 #6f594c
서브 갈색 컬러 #b99077
강조 빨강 #8d0404

중간 그레이 #b7b7b7 (주로 실선)
연한 그레이 #f6f6f6 (주로 배경)
*/


/* 기훈 : 사용하고자 하는 곳에 변수
ex) $variable-name 를  넣으면됩니다.
h1 {
  font-family: $Lobster;
  font-size: $font-size-root;
  color: $color-main;
}
*/
/*******************************************************************
// 설명:프로젝트 전체에 적용되는 변수에 대해 정의함F
// 주의:컴포넌트 갯수 만큼 실행되기 때문에 변수에 대해서만 정의해야합니다.
********************************************************************/
// 사용자 정의 변수
// 여기에 메인컬러,서브컬러 등의 임의 변수를 설정하면 SCSS 어디에서도 사용할 수 있습니다.

// 폰트
$NotoSansCJK : 'Noto Sans KR' !important;
$body-font-family:"Noto Sans KR";
$title-font-family:"Noto Sans KR";

// 폰트 사이즈
$font-size-root: 14px; // default
$font-size-title: 26px; //title font-size
$font-size-subTitle: 18px;//sub-title-font-size
$font-size-content-name: 16px;//sub-title-font-size
$font-size-main_Title: 36px;//main-title-font-size
$font-size-validation:15px;//validation-font-size

// 폰트 컬러
$color-main:#191919; // main font
$color-sub:#191919; // sub font
$placeholder-color: #707070; //placeholder 컬러

// 폰트 굵기
$font-bold: 700; // font-weight 700 (Bold)
$font-medium: 500; // font-weight 500 (Medium)
$font-regular: 400; // font-weight 400 (regular)

// 버튼 컬러
$submit-btn: #6f594c; // submit 확인 버튼
$cancel-btn: #707070; // submit 확인 버튼

// 보더 컬러
$border-color: #e5e5e5; // border color 테두리 컬러

* {
  // font-family:  'NanumSquare';
  font-family: $NotoSansCJK;
  //font-size:10px;
  //letter-spacing: -0.05em;
  //color:#191919;
  --swiper-theme-color:#191919 !important;
}
.pointer{
  cursor:pointer;
}
.text_center{
  text-align:center;
}
.content_center{
  //컨텐츠 중앙정렬용 클래스 생성하였습니다.
  width:1200px; margin:0 auto;


}

.noto{font-family:"Noto Sans KR" !important;}

//alret 메시지 클래스 생성하였습니다.
.alret_wrap{
  width:100%; height:100vh;
  position:fixed;
  top:0; left:0;
  z-index:99;
  background-color:rgba(0,0,0,0.3);
  display:none;
  .alret_box{
    width:338px; height:204px;
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50%,-50%);
    padding:46px 0 26px 0;
    background-color:#fff; text-align:center;

    .alret_msg{
      font-size: 16px; line-height:24px; color:#191919;
      margin-bottom:25px;
      display:none;
      >span{
        font-size:16px; line-height:24px; color:#191919;
        vertical-align:top;
        &.alret_txt{
          width:200px;
          display: inline-block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      &.alert_consultant_msg{padding-top:10px;margin-bottom:30px;}
    }
    .alret_btn{
      width:100%;
      .alret_btn_box{
        width:96px; height:34px;
        font-size:14px;
        border:1px solid #6e594c;
      }
      .btn_confirm{color:#fff; font-weight:700; background-color: #6e594c; margin-right:11px;}
      .btn_cancle{color:#191919;}
    }
  }

  &.select{
    .alret_box{
      .alert_select_msg{display:block;}
    }
  }
  &.stop{
    .alret_box{
      .alert_stop_msg{display:block;}
    }
  }
  &.consultant{
    .alret_box{
      .alert_consultant_msg{display:block;}
    }
  }
  &.compl{
    .alret_box{
      .alert_compl_msg{display:block;}
    }
  }
}

//버튼 공통클래스 생성하였습니다.
.btn_wrap{
  text-align: center;
  .apply_btn{
    font-size: 20px; color:#fff; letter-spacing: -0.05em;
    background-color:#6f594c;
    border-radius:26px;
    padding:12px 50px;
  }
  .next_btn{
    font-size:16px; color:#fff; letter-spacing: -0.05em;
    background-color:#707070;
    border-radius:10px; font-weight:700;
    padding:16.5px 0;
    width:140px;
    &.active{
      background-color:#6f594c;
    }
  }
  .temp_btn {
    font-size: 16px;
    color: #fff;
    letter-spacing: -0.05em;
    background-color: #bfb2aa;
    border-radius: 10px;
    font-weight: 700;
    padding:16.5px 0;
    width:140px;
  }
  .prev_btn {
    font-size: 18px;
    color: #707070;
    letter-spacing: -0.05em;
    border-radius: 10px;
    font-weight: 500;
    padding-left:26px;
    position:absolute;
    left: 0;
    top: 15px;
    &:after{
      content:'';
      position:absolute;
      top:50%; left:0; transform:translateY(-50%);
      //background: url("./assets/image/icon_before.png") no-repeat center center;
      width:12px; height:19px;

    }
  }
  .one_center_btn{
    font-size:20px; color:#fff; letter-spacing: -0.05em;
    background-color:#6f594c; font-weight:500;
    border-radius:32px;
    width:490px; height:64px;
  }
  &.btn_wrap_right{
    text-align:right;
  }
}


//input공통 스타일 생성하였습니다.
.content_name {
  font-size: 20px;
  line-height: 50px;
  color: #191919;
  font-weight: 700;
  &.con_name{line-height:40px;}

  .select_text{
    font-weight: 700;
    font-size: 20px;
    color: #707070;
    margin-left: 4px;
  }
}
.content_detail{
  font-size:18px; color:#707070; line-height:50px;
}
.input {
  width: 276px;

  .el-input__inner {
    background-color: #f4f4f4;
    border: none;
    border-radius: 10px;
    height: 57px;
    padding: 20px;
    font-size: 18px;
    color: #191919;

    &::placeholder {
      font-size: 16px;
      font-weight: 300;
      color: #707070;
      letter-spacing: -0.05em;
      line-height: 50px;
    }
  }

  &.input_auth {
    width: 490px;
    height: 59px;

    .el-input__inner {
      background-color: #fff;
      border: 1px solid #6f594c;
    }
  }
}
.input_textarea {
  width: 841px;
  height: 222px;
  background-color: #ffffff;

  .el-textarea__inner {
    background-color: #ffffff;
    width: 100%;
    min-height: 100% !important;
    border: 1px solid #d8d8d8;
    padding: 18px 20px 18px 20px;
    border-radius: 10px;
    resize: none;
    line-height: 28px;
    font-size: 18px;
    color: #191919;

    &::placeholder {
      font-size: 16px;
      font-weight: 300;
      color: #a7a7a7;
      letter-spacing: -0.05em;
    }
  }

  .el-input__count {
    position: absolute;
    right: 0;
    bottom: -23px;
    font-size: 13px;
    color: #707070;
  }
}


.el-checkbox{
  .el-checkbox__input{
    .el-checkbox__inner{
      background:#fff!important;
      border-color: #b7b7b7 !important;
    }

  }
}
.el-checkbox__input.is-checked+.el-checkbox__label{
  color: #191919 !important;
}
.el-checkbox__input.is-checked{
  .el-checkbox__inner{
    background:#6e594c !important;
    border-color: #6e594c !important;
  }
}

.step_li{
  .input {
    width: 276px;

    .el-input__inner {
      background-color: #f4f4f4;
      border: none;
      border-radius: 10px;
      height: 57px;
      padding: 20px;
      font-size: 18px;
      color: #191919;

      &::placeholder {
        font-size: 16px;
        font-weight: 300;
        color: #707070;
        letter-spacing: -0.05em;
        line-height: 50px;
      }
    }

    &.input_auth {
      width: 490px;
      height: 59px;

      .el-input__inner {
        background-color: #fff;
        border: 1px solid #6f594c;
      }
    }
  }

  .input_textarea {
    width: 841px;
    height: 222px;
    background-color: #ffffff;

    .el-textarea__inner {
      background-color: #ffffff;
      width: 100%;
      min-height: 100% !important;
      border: 1px solid #d8d8d8;
      padding: 18px 20px 18px 20px;
      border-radius: 10px;
      resize: none;
      line-height: 28px;
      font-size: 18px;
      color: #191919;

      &::placeholder {
        font-size: 16px;
        font-weight: 300;
        color: #a7a7a7;
        letter-spacing: -0.05em;
      }
    }

    .el-input__count {
      position: absolute;
      right: 0;
      bottom: -23px;
      font-size: 13px;
      color: #707070;
    }

    &.qna_input_textarea{
      .el-textarea__inner {font-size: 16px;}
    }
  }

  .input_upload {
    .el-upload {
      .el-button {
        background-color: #6e594c;
        width: 104px;
        height: 36px;
        border-radius: 10px;
        border: none;

        > span {
          font-size: 16px;
          font-weight: 500;
          color: #fff;
        }
      }
    }
  }

  .el-radio-group{
    .el-radio{
      border:1px solid #d8d8d8;
      border-radius:10px;
      background-color:#fff;
      width:120px; height:57px;
      position:relative;
      padding-left:20px;
      margin-right:10px;
      margin-bottom:8px;
      .el-radio__input{
        position:absolute;
        top:50%; transform:translateY(-50%);
        left:78px;
        &:after{
          display:none;
          width:9.2px; height:9.2px;
          background-color:#6e594c;
        }
      }
      .el-radio__label{
        color:#191919; font-size:18px; line-height:54px;
      }
      &:hover{
        .el-radio__inner{
          border-color: #6e594c !important;
        }
      }
    }
  }

  .el-radio.is-checked{
    .el-radio__inner{
      border-color: #6e594c !important;
    }
  }
  .el-radio__input.is-checked{
    .el-radio__inner::after{
      background-color:#6e594c !important;

    }
  }

  .el-checkbox{
    .el-checkbox__input{
      .el-checkbox__inner{
        background:#fff!important;
        border-color: #b7b7b7 !important;
      }

    }
  }
  .el-checkbox__input.is-checked+.el-checkbox__label{
    color: #191919 !important;
  }
  .el-checkbox__input.is-checked{
    .el-checkbox__inner{
      background:#6e594c !important;
      border-color: #6e594c !important;
    }
  }



  ::-webkit-scrollbar {
    width: 22px;
    //border: 7px solid #fff;
    padding:0;
  }

  ::-webkit-scrollbar-track {
    border: solid 7px transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color:#bfb2aa;
    width:8px; height:165px;
    border: 7px solid #fff;
    border-radius: 11px;
  }
}




.middle_txt{
  font-size:16px; line-height:28px;
  color: #191919;
  font-weight: 400;
  &.br_txt{
    display:inline-block;
    padding-bottom:20px;
  }
}
.txt_medium{
  font-weight:500;
}
.color{
  color:#8d0404;
}
.apply_bg{
  //신청하기 공통 스타일 생성하였습니다!
  width:100%; height:100vh;
  //background: url("./assets/image/online_apply_bg.png") no-repeat center center;
  background-size:cover;
  .apply_step_num{
    width: 1004px;
    margin:0 auto;
    background-color: #fff;
    border-radius: 30px;
    padding: 55px 80px;
    box-shadow: 4px 4px 46px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    .step_tit{
      //step부분 타이틀 스타일 생성하였습니다.
      position: relative;
      font-size: 26px;
      width: 100%;
      font-weight: 700;
      color: #191919;
      padding-bottom: 30px;
      text-align: center;
      display: inline-block;
      //border-bottom: 4px solid #d8d8d8;
      //&:after {
      //  //진행%이 표시된 불릿, left값과 content로 표시
      //  content: '0%';
      //  display: inline-block;
      //  padding: 8px 0;
      //  width:78px;
      //  position: absolute;
      //  color: #fff;
      //  letter-spacing: -0.025rem;
      //  background-color: #b99077;
      //  border-radius: 17.5px;
      //  bottom: -17px;
      //  left: 0;
      //  font-size: 1.5rem;
      //}
      //&:before{
      //  //진행정도 bar, width로 진행정도 표시
      //  content:'';
      //  width:0; height:4px;
      //  background-color:#b99077;
      //  position:absolute;
      //  bottom:-3px; left:0;
      //  z-index:10;
      //}
    }
    .btn_cancle {
      position: absolute;
      top: 37px;
      right: 37px;
      width: 16px;
      height: 16px;
      //background: url("./assets/image/icon_close.png") no-repeat center center;
    }
  }

  .el-radio-group{
    .el-radio{
      border:1px solid #d8d8d8;
      border-radius:10px;
      background-color:#fff;
      width:120px; height:57px;
      position:relative;
      padding-left:20px;
      margin-right:10px;
      margin-bottom:8px;
      .el-radio__input{
        position:absolute;
        top:50%; transform:translateY(-50%);
        left:78px;
        .el-radio__inner{
          width:15px !important; height:15px !important;
          background-color:#fff;
          border:1px solid #b7b7b7;
          position:relative;
        }
        &:after{
          display:none;
          width:9px; height:9px;
          background-color:#6e594c;
        }
      }
      .el-radio__label{
        color:#191919; font-size:18px; line-height:54px;
      }
      &:hover{
        .el-radio__inner{
          border-color: #6e594c !important;
        }
      }
    }
  }

  .el-radio.is-checked{
    .el-radio__inner{
      width:15px !important; height:15px !important;
      background-color:#fff;
      border-color: #6e594c !important;
    }
  }
  .el-radio__input.is-checked{
    .el-radio__inner::after{
      width:8.5px; height:8.5px;
      border-radius:50%;
      background-color:#6e594c !important;

    }
  }
}

.font-NotoSans{
  font-family:  'NotoSans' !important;
  --ion-default-font :'NotoSans' !important;
  --ion-font-family: "NotoSans" !important;
}

.font-NotoSansKR{
  font-family:  'Noto Sans KR' !important;
  --ion-default-font :'Noto Sans KR' !important;
  --ion-font-family: "Noto Sans KR" !important;
}

.font-NotoSansCJK{
  font-family:  'Noto Sans CJK KR' !important;
  --ion-default-font :'Noto Sans CJK KR' !important;
  --ion-font-family: "Noto Sans CJK KR" !important;
}

* { box-sizing: border-box; outline: 0; margin:0;padding:0; letter-spacing: -0.5px; font-family:'Noto Sans KR';}
body {margin:0;padding:0; line-height: 1.2;  overflow: auto;font-family: "Noto Sans KR"; }
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0; font-family: "Noto Sans KR";}
html, body { background-color: #1b1b1b}
h1, h2, h3, h4, h5, h6 {font-size:1em}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
#hd ul, nav ul, #ft ul {margin:0;padding:0;list-style:none}
legend {position:absolute;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
input, button {margin:0;padding:0;font-size:1em; border:none; outline:none;}
button {cursor:pointer; border:none; outline:none;}
// input[type=text], input[type=password], input[type=submit], input[type=image], button {border-radius:0; background:transparent; outline:none; font-size:1em;-webkit-appearance:none}
input[type=text], input[type=submit], input[type=image], button {border-radius:0; background:transparent; outline:none; -webkit-appearance:none}
input:-moz-read-only{cursor: default;}
input:read-only {cursor: default;}
textarea, select {font-size:1em;}
textarea {border-radius:0;-webkit-appearance:none}
select {margin:0; border:none; outline:none;}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a{display: inline-block; text-decoration: none;}
a:visited{color: inherit !important;}
//a:-webkit-any-link { color: #000000; text-decoration: none; }
//a:hover, a:focus, a:active, a:visited {color:#000;/*text-decoration:underline*/ cursor: pointer; }
ul{list-style-type: none; margin: 0; padding: 0;}
br{color: transparent;}

.bold {
  font-weight: bold;
}
.hidden {overflow:hidden;}

html, body { min-width: 1260px !important; }
html {overflow: auto !important; }
body{
  -ms-overflow-style: none ;
  padding: 0 !important;
}
body::-webkit-scrollbar { display:none ; }

body.modal-open {
  overflow: hidden;
}
body.el-loading-parent--hidden {
  overflow: auto !important;
}

.pointer{
  cursor:pointer !important;
}
.clear{
  clear: both;
}
.camp_wrap{
  min-height: calc(100vh - 381px);
}
.note-modal-footer{
  margin-bottom: 20px;
}

.el-date-picker{
  &.not_now{
    .el-picker-panel__footer{
      .el-button--text{
        display: none;
      }
    }
  }
}
// 데이트 피커
.date_picker{
  //width: unset !important;
  border: unset !important;
  //position: relative;
  //right: 13px;
  padding: 0 !important;
  height: 35px !important;

  &.point_filter{
    width: 333px !important;
    vertical-align: middle;
  }
  .el-input__icon{
    background-position: 0px 8px;
    background-repeat: no-repeat;
    background-size: 16px 17px;
    //background-image: url("./assets/image/calendar_icon.png");
    position: absolute;
    left: 120px;
    top: 1px;

    &:before{
      display: none;
    }
  }
  .el-range__close-icon{
    left: 292px;
  }
  .el-range-input{
    width: 142px !important;
    border: 1px solid #eeeeee !important;
    text-align: left !important;
    padding-left: 15px !important;
  }
  .el-range-separator{
    width: unset !important;
    padding: 0 14px !important;
  }
}
// 데이트 타임
.date_time{
  width: 142.5px !important;
  height: 35px;
  border: 1px solid #eeeeee;
  display: inline-block;
  vertical-align: middle;

  .el-input__inner{
    border: unset;
    padding-left: 15px !important;
    width: 100%;
    height: 100%;
    font-family: $NotoSansCJK;
    font-weight: 350;
    font-size: 13px;
    color: #191919;
    &::placeholder {
      color: #b7b7b7;
    }
  }
  .el-input__prefix{
    background-position: 0px 8px;
    background-repeat: no-repeat;
    background-size: 16px 17px;
    //background-image: url("./assets/image/calendar_icon.png");
    left: 112px;

    .el-input__icon{
      &:before{
        display: none;
      }
    }
  }
  .el-input__suffix{
    display: none;
  }

}
.validation{
  font-size:14px;
  line-height:30px;
  color:#8d0404;
}
.block{
  display: block !important;
}
.text-center{
  text-align: center;
}


//에디터관련 css
.note-editor {
  border-radius:10px;
  height: 100%;
  border: 1px solid #d8d8d8 !important;
  .note-toolbar {
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;

    button {
      border: none;

      .note-icon-font {
        padding: 0 5px 4px;
      }
    }

    .note-dropdown-menu {
      min-width:70px;
      .note-dropdown-item {
        margin: 0;
        padding: 5px 0;
      }
    }
  }

  .note-editing-area {
    height: calc(100% - 50px);

    .note-placeholder {
      display: none !important;
    }

    .note-editable {
      padding: 10px 20px !important;
      height: 100% !important;
    }
  }

  .note-statusbar {
    display: none;
  }
}

.note-dropdown-menu{
  min-width:50px !important;
}

.el-icon-cancel-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  //box-shadow:2px 2px 4px 2px rgba(0,0,0,0.2);
  border: 1px solid #e5e5e5;
  position: absolute;
  right: 36px;
  //top: 5px;
  top: 0;
  z-index: 1;
  background-color: #FFFFFF;
  border-radius: 50%;
  //background-image: url("./assets/image/black_cancel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  &:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: -10px;
    right: -10px;
  }
}

.el-icon-close-btn {
  cursor: pointer;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 22px;
  top: 22px;
  z-index: 1;
  //background-image: url("./assets/image/icon_close_s.png");
  background-repeat: no-repeat;
  background-position: center;
  &:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: -23px;
    right: -23px;
  }
}

// createAlert css 생성했습니다.
.electionAlert_main {
  letter-spacing: -0.05em;
  border-radius: 20px;
  border: 1px solid #d2d2d2;
  color: #191919;
  background-color: #f8f8f8;
  font-size: 16px !important;
  padding: 40px 36px 20px 36px;
  width: auto !important;
  min-width: 365px;
  max-width: 365px;

  #swal2-content {
    font-size: 16px !important;
    padding-bottom: 8px;
  }
  .swal2-actions{
    button:focus{
      outline: none !important;
      box-shadow: none !important;
      filter: none !important;
    }
    button:hover{
      background-image: none !important;
    }
    // 버튼
    .swal2-confirm{
      min-height: 34px;
      min-width: 96px;
      border-radius: 17px;
      border: 1px solid #6e594c;
      background-color: #6e594c;
      font-size: 14px !important;
      font-weight: bold;
    }
  }
}

//createConfirm css 생성했습니다.
.electionAlert_main_confirm{
  letter-spacing: -0.05em;
  border-radius: 20px;
  border: 1px solid #d2d2d2;
  background-color: #f8f8f8;
  font-size: 16px !important;
  padding: 44px 50px 44px 50px;
  color: #191919;
  width: auto !important;
  min-width: 365px;
  max-width: 365px;
  #swal2-content {
    font-size: 16px !important;
    //padding-bottom: 10px;
  }
  .swal2-actions{
    button:focus{
      outline: none !important;
      box-shadow: none !important;
    }
    button:hover{
      background-image: none !important;
    }
    // 확인 버튼
    .swal2-confirm{
      min-height: 34px;
      min-width: 96px;
      border-radius: 17px;
      border: 1px solid #6e594c;
      background-color: #6e594c;
      font-size: 14px !important;
      font-weight: bold;

    }
    //취소 버튼
    .swal2-cancel{
      min-height: 34px;
      min-width: 96px;
      border-radius: 17px;
      border: 1px solid #6e594c;
      background-color: transparent;
      font-size: 14px !important;
      font-weight: bold;
      color: #6e594c;
      &:focus{
        outline: none !important;
      }
    }
  }
}
.attach_file{
  margin-left:15px;
  color:#707070;
  font-size:14px;
  font-weight:300;
  display: inline-block;

  .attach_delete_btn{
    width:9px; height:9px;
    //background: url("./assets/image/icon_close_s.png") no-repeat center center;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    &:after{
      content: '';
      position: absolute;
      left: -10px;
      top: -10px;
      bottom: -10px;
      right: -10px;
    }
  }
}
// 기본 페이지네이션 디자인
.pagination_number_wrap{
  margin: 45px auto;
  text-align: center;
  .page_btn_box{
    .first_end {
      cursor: pointer;
      display: inline-block;
      width: 14px;
      height: 14px;
      //background: url("./assets/image/icon_arrow_left2.png") no-repeat center center;
      background-size: 13px 11px;
      vertical-align: middle;
    }
    .previous {
      cursor: pointer;
      display: inline-block;
      margin-left: 14px;
      width: 8px;
      height: 14px;
      //background: url("./assets/image/icon_arrow_left.png") no-repeat center center;
      background-size: 7px 11px;
      vertical-align: middle;
      margin-right: 20px;
    }
    .next {
      cursor: pointer;
      display: inline-block;
      margin-left: 20px;
      width: 8px;
      height: 14px;
      //background: url("./assets/image/icon_arrow_right.png") no-repeat center center;
      background-size: 7px 11px;
      vertical-align: middle;
      margin-right: 14px;
    }
    .last_end {
      cursor: pointer;
      display: inline-block;
      width: 14px;
      height: 14px;
      //background: url("./assets/image/icon_arrow_right2.png") no-repeat center center;
      background-size: 13px 11px;
      vertical-align: middle;
      margin-left:7px;
    }
    .page_btn_area{
      display: inline-block;
      vertical-align: middle;
    }
    .el-pager{
      .none{
        display: none;
      }
      .number{
        min-width: 24px;
        height: 24px;
        border: 1px solid #6f594c;
        padding: 0;
        line-height: 23px;
        font-family: $NotoSansCJK;
        font-weight: 700;
        font-size: 13px;
        color: #6f594c;
        margin-right: 11px;
        > a{
          font-family: $NotoSansCJK;
          font-weight: 700;
          font-size: 13px;
          width: 100%;
        }
        &.none{
          display: none;
        }

        &:last-of-type{
          margin-right: 0;
        }
        &.active{
          background-color: #6f594c;
          color: #ffffff;
          > a{
            color: #ffffff;
          }
        }
      }
    }
  }
}
.pagination_main_wrap{
  margin: 19px auto 73px auto;
  text-align: center;
  .page_btn_main_box{
    .previous {
      width: 32px;
      height: 32px;
      border: 1px solid #dadada;
      cursor: pointer;
      display: inline-block;
      //background: url("./assets/image/icon_arrow_left_main.png") no-repeat center center;
      background-size: 7px 11px;
      vertical-align: middle;
    }
    .next {
      width: 32px;
      height: 32px;
      border: 1px solid #dadada;
      cursor: pointer;
      display: inline-block;
      //background: url("./assets/image/icon_arrow_right_main.png") no-repeat center center;
      background-size: 7px 11px;
      vertical-align: middle;
    }
    .page_btn_area{
      display: inline-block;
      vertical-align: middle;
    }
    .el-pager{
      .number{
        min-width: 32px;
        height: 32px;
        border: 1px solid #dadada;
        padding: 0;
        line-height: 29px;
        font-family: $NotoSansCJK;
        font-weight: 400;
        font-size: 14px;
        color: #3a3952;
        margin-right: 5px;

        &:last-of-type{
          margin-right: 0;
        }
        &.active{
          background-color: #6f594c;
          color: #ffffff;
        }
      }
    }
  }
}
.input_upload {
  .el-upload {
    .el-button {
      background-color: #6e594c;
      width: 104px;
      height: 36px;
      border-radius: 10px;
      border: none;

      > span {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
      }
    }
  }
}
.v_middle{
  vertical-align: middle;
}

.empty_wrap{
  margin: 150px auto;
  .img_box{

  }
  .text_box{
    text-align: center;
    font-size: 20px;
  }
}
.el-select-dropdown__item{
  font-size: 16px;
  &.selected{
    color: #191919 !important;
    font-weight: 500 !important;
  }
}
.profile-uploader-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/***********
* Developer :: Corner
* Description :: Loading CSS Style
*/

/*

Loading STYLE
*/
#link {color: #DB4646;display:block;font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center; text-decoration: none;}
/*#link:hover {color: #CCCCCC}*/

/*#link, #link:hover {-webkit-transition: color 0.5s ease-out;-moz-transition: color 0.5s ease-out;-ms-transition: color 0.5s ease-out;-o-transition: color 0.5s ease-out;transition: color 0.5s ease-out;}*/

/** BEGIN CSS **/
body {background: #333333;}
@keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-moz-keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-webkit-keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-o-keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}
.loading-container,
.loading {
  height: 100px;
  position: relative;
  width: 100px;
  border-radius: 100%;
}


.loading-container {
  position: fixed;
  top:50%;
  left:230px;
  -webkit-transform:translate(0%,-50%);
  transform:translate(0%,-50%);
  z-index:999;
}

.loading {
  zoom:.5;
  border: 2px solid transparent;
  border-color: transparent #fff transparent #FFF;
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -moz-transform-origin: 50% 50%;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-transform-origin: 50% 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-transform-origin: 50% 50%;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}

/*.loading-container:hover */
.loading {
  border-color: transparent #DB4646 transparent #DB4646;
}
/*.loading-container:hover */
.loading,
.loading-container .loading {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#loading-text {
  -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
  -o-animation: loading-text-opacity 2s linear 0s infinite normal;
  -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
  animation: loading-text-opacity 2s linear 0s infinite normal;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  margin-top: 45px;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 30px;
}



/*****

*****/
a {
  text-decoration: none;
  color: #cccccc;
}


.default-wrap {
  height: 100vh;
}

