.header-full {
  background: rgba(0, 0, 0, .4);
  width: 100%;
  padding: 10px 16px;
  margin: 0 auto;
  min-width: 793px;
  position: fixed;
  height: 120px;
  z-index: 13;

  .logo {
    display: inline-block;
    z-index: 1;

    img {
      width: 172px;
    }
  }

  .gnb {
    width: calc(100% - 200px);
    height: 100%;
    display: inline-block;

    ul {
      text-align: right;
      font-size: 12px;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline-block;
        position: relative;
        color: #cccccc;

        a {
          display: inline-block;
          margin: 0 8px;
          height: 40px;
          line-height: 31px;
          text-decoration: none;
        }
      }
    }

  }


  .header-wrap {
    width: 100%;
    text-align: center;

    .topmenu {
      display: inline-block;
      text-align: center;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-block;

        li {
          display: inline-block;
          margin: 0 13px;
          position: relative;
          color: #FFFFFF;

          a {
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            display: inline-block;
            padding: 0;
            height: 54px;
            line-height: 54px;
            margin: 0;
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }
  }

}

/* footer */
.footer_wrap {
  padding: 50px 16px;
  background-color: #1b1b1b;
  color: #A5A5A5;

  .notice_line {
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .f_notice_title {
      padding-right: 16px;
    }

    .f_notice_subject {
      width: calc(100% - 176px);
      padding: 0 8px;
      border-left: 1px solid #a5a5a5;
      border-right: 1px solid #a5a5a5;
    }

    .noti_button {
      width: 50px;
      height: 50px;

    }
  }

  .footer_top_back {
      height: 40px;
    .footer_menu_group {
    }
    ul {
      list-style: none;
    }

    li {
      padding: 16px 0;
      display: inline-flex;
      margin-left: 24px;
    }
  }
}
