/*****************************************************************
*
*  Description : 토스트 css
*
*****************************************************************/


.toasted-container{}


.toasted-container.bottom-center {
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
  bottom: 7% !important;
  min-width:80% !important;
  max-width:80% !important;
  text-align: center !important;
}
.toasted-container.bottom-center .toasted{
  margin: 0 auto !important;
}

.toasted .primary, .toasted.toasted-primary {
  background-color: #2196F3 !important;
  color: #fff !important;
}


.toasted-container {
  z-index: 1000000 !important;
}
