.App {
  max-width: 1180px;
  margin: 0 auto;
}
#header_wrap {
  padding: 0 15px;
}

#header_wrap #header_menu_wrap,
#footer_wrap #footer_menu_wrap{
  padding: 0;
}

#main_wrap {
  margin: 0 15px;
}

#footer_wrap {
  padding: 0 15px;
}