#header_wrap {
  background-color: #eeeeee;
  padding: 0 10vw;
}

#header_wrap #header_menu_wrap,
#footer_wrap #footer_menu_wrap{
  padding: 0;
}

#main_wrap {
  max-width: 1280px;
  margin: 0 10vw;
}

#footer_wrap {
  background-color: #eeeeee;
  padding: 0 10vw;
}